In [4]:
import pandas as pd

In [5]:
import numpy as np

In [3]:
np.array([1,2,3])

array([1, 2, 3])

In [4]:
np.fromfunction(lambda i,j : i*j ,(4,4),dtype=int)

array([[0, 0, 0, 0],
       [0, 1, 2, 3],
       [0, 2, 4, 6],
       [0, 3, 6, 9]])

In [5]:
np.mat(np.fromfunction(lambda i,j : i*j ,(4,4),dtype=int))

matrix([[0, 0, 0, 0],
        [0, 1, 2, 3],
        [0, 2, 4, 6],
        [0, 3, 6, 9]])

In [9]:
np.fromfunction(lambda i,j,z:i*j*z,(3,3,2),dtype=int)  #3-D Array

array([[[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 1],
        [0, 2]],

       [[0, 0],
        [0, 2],
        [0, 4]]])

In [10]:
a=np.fromfunction(lambda i,j,z:i*j*z,(4,3,2),dtype=int)  #3-D Array

In [14]:
a

array([[[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 1],
        [0, 2]],

       [[0, 0],
        [0, 2],
        [0, 4]],

       [[0, 0],
        [0, 3],
        [0, 6]]])

In [12]:
a.ndim

3

In [13]:
a.size

24

In [15]:
a.shape

(4, 3, 2)

In [17]:
a.dtype

dtype('int32')

In [18]:
pd.DataFrame(a) #error because it should be 2-D

ValueError: Must pass 2-d input. shape=(4, 3, 2)

In [20]:
a=np.fromfunction(lambda i,j:i*j,(4,3),dtype=int)  #3-D Array

In [21]:
a

array([[0, 0, 0],
       [0, 1, 2],
       [0, 2, 4],
       [0, 3, 6]])

In [22]:
pd.DataFrame(a)

   0  1  2
0  0  0  0
1  0  1  2
2  0  2  4
3  0  3  6

In [23]:
a=np.fromfunction(lambda i,j:i*j,(400,100),dtype=int)  #3-D Array

In [24]:
a

array([[    0,     0,     0, ...,     0,     0,     0],
       [    0,     1,     2, ...,    97,    98,    99],
       [    0,     2,     4, ...,   194,   196,   198],
       ...,
       [    0,   397,   794, ..., 38509, 38906, 39303],
       [    0,   398,   796, ..., 38606, 39004, 39402],
       [    0,   399,   798, ..., 38703, 39102, 39501]])

In [25]:
pd.DataFrame(a)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
2,0,2,4,6,8,10,12,14,16,18,...,180,182,184,186,188,190,192,194,196,198
3,0,3,6,9,12,15,18,21,24,27,...,270,273,276,279,282,285,288,291,294,297
4,0,4,8,12,16,20,24,28,32,36,...,360,364,368,372,376,380,384,388,392,396
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,0,395,790,1185,1580,1975,2370,2765,3160,3555,...,35550,35945,36340,36735,37130,37525,37920,38315,38710,39105
396,0,396,792,1188,1584,1980,2376,2772,3168,3564,...,35640,36036,36432,36828,37224,37620,38016,38412,38808,39204
397,0,397,794,1191,1588,1985,2382,2779,3176,3573,...,35730,36127,36524,36921,37318,37715,38112,38509,38906,39303
398,0,398,796,1194,1592,1990,2388,2786,3184,3582,...,35820,36218,36616,37014,37412,37810,38208,38606,39004,39402
399,0,399,798,1197,1596,1995,2394,2793,3192,3591,...,35910,36309,36708,37107,37506,37905,38304,38703,39102,39501

In [26]:
np.random.rand(100,4)

array([[0.66237064, 0.40571316, 0.64273473, 0.32838185],
       [0.0314041 , 0.81179239, 0.30201702, 0.91132974],
       [0.69577233, 0.33522414, 0.70621638, 0.85537355],
       [0.6741519 , 0.14121277, 0.77421   , 0.32359323],
       [0.59195145, 0.95559446, 0.24492045, 0.45717559],
       [0.92462164, 0.08953229, 0.59689225, 0.80136032],
       [0.54158287, 0.44447738, 0.96302163, 0.22508014],
       [0.78169189, 0.36249775, 0.91779871, 0.01349241],
       [0.29388547, 0.21805197, 0.05054802, 0.33142562],
       [0.72199916, 0.16964423, 0.19109786, 0.78268187],
       [0.91327   , 0.34145339, 0.79373082, 0.80162198],
       [0.53434535, 0.90368124, 0.45001112, 0.81959777],
       [0.02237233, 0.79190922, 0.34434389, 0.74701321],
       [0.74962609, 0.99181841, 0.65308642, 0.6300216 ],
       [0.04577429, 0.95049446, 0.48086512, 0.21264969],
       [0.29809953, 0.16112506, 0.31141982, 0.87592254],
       [0.44745836, 0.30567714, 0.97875888, 0.451296  ],
       [0.05214487, 0.36017398, 0.49960391, 0.59239299],
       [0.11028485, 0.31960757, 0.99607848, 0.81170028],
       [0.39032423, 0.19287186, 0.96208919, 0.11418985],
       [0.33434797, 0.30506502, 0.08638535, 0.44722797],
       [0.65412785, 0.08599684, 0.15175687, 0.20860788],
       [0.20233797, 0.74873172, 0.57847579, 0.10243015],
       [0.75244658, 0.05897411, 0.03906865, 0.08550169],
       [0.14039477, 0.96729124, 0.31506926, 0.936701  ],
       [0.7352931 , 0.44114046, 0.39292542, 0.57943112],
       [0.07436058, 0.51026952, 0.96167089, 0.3351969 ],
       [0.37091319, 0.77437639, 0.67590631, 0.34171825],
       [0.21540158, 0.07389582, 0.52191845, 0.8753519 ],
       [0.02558031, 0.16590203, 0.95611218, 0.92063399],
       [0.59522085, 0.64835431, 0.51794471, 0.4362982 ],
       [0.62896764, 0.03426296, 0.67197506, 0.21130376],
       [0.27322545, 0.68060039, 0.06874757, 0.19154131],
       [0.58525757, 0.98821036, 0.75659988, 0.5182302 ],
       [0.93452736, 0.5124126 , 0.23477835, 0.07380801],
       [0.51121446, 0.28993006, 0.92449579, 0.03524725],
       [0.10694537, 0.57586188, 0.20013875, 0.24264449],
       [0.22796199, 0.01440424, 0.49959885, 0.91669727],
       [0.18295096, 0.76959522, 0.73898764, 0.41440237],
       [0.59867538, 0.8015881 , 0.88026849, 0.47894626],
       [0.32161775, 0.34406588, 0.6533736 , 0.07940325],
       [0.1239335 , 0.86070145, 0.99338881, 0.63118085],
       [0.27287397, 0.86568904, 0.52335327, 0.66061181],
       [0.30221   , 0.83451162, 0.37557742, 0.47853172],
       [0.56537079, 0.76277407, 0.77965972, 0.34938915],
       [0.12595672, 0.95461878, 0.33508516, 0.21079076],
       [0.93566388, 0.70012525, 0.91437055, 0.82798885],
       [0.54946314, 0.15128611, 0.74439935, 0.87095575],
       [0.92456424, 0.27893716, 0.21297724, 0.28999712],
       [0.86814434, 0.88099242, 0.64753058, 0.60140286],
       [0.48071287, 0.50989804, 0.5714403 , 0.04726053],
       [0.65088135, 0.45954222, 0.74060868, 0.60710963],
       [0.20561722, 0.93739036, 0.64051355, 0.48504961],
       [0.00616701, 0.45392439, 0.10286119, 0.56388805],
       [0.87069897, 0.58991674, 0.26776229, 0.74584071],
       [0.6717644 , 0.78981834, 0.01976256, 0.77147438],
       [0.63372971, 0.81446687, 0.50036106, 0.09502456],
       [0.19670292, 0.23465489, 0.40395933, 0.19777814],
       [0.42374651, 0.27403649, 0.91359374, 0.78187667],
       [0.83083105, 0.16926506, 0.80003361, 0.62292721],
       [0.79957718, 0.18726713, 0.83110543, 0.65597975],
       [0.84118966, 0.97657004, 0.30261742, 0.59935106],
       [0.63272573, 0.83022106, 0.58407385, 0.19352968],
       [0.26770072, 0.33792288, 0.98091749, 0.68493181],
       [0.89740328, 0.02408786, 0.89670112, 0.47190936],
       [0.88428963, 0.41531318, 0.60439257, 0.66423459],
       [0.68775652, 0.49729665, 0.98548059, 0.07695882],
       [0.70507075, 0.65208136, 0.92566828, 0.66282358],
       [0.48130549, 0.1642536 , 0.16056273, 0.80262858],
       [0.31026203, 0.20734993, 0.89316566, 0.62605547],
       [0.88402764, 0.12288449, 0.69503216, 0.43662921],
       [0.54791924, 0.12185341, 0.46631225, 0.28960306],
       [0.99665773, 0.46659588, 0.65848833, 0.1096498 ],
       [0.25614211, 0.44933174, 0.51579176, 0.58145368],
       [0.66490759, 0.00232412, 0.01283506, 0.08239765],
       [0.93503399, 0.88742537, 0.52595304, 0.34305566],
       [0.13057651, 0.94088231, 0.15742312, 0.22099122],
       [0.5279452 , 0.29306043, 0.06345903, 0.860498  ],
       [0.27099685, 0.87503036, 0.30082997, 0.84391268],
       [0.07959028, 0.27416263, 0.48233926, 0.36193929],
       [0.38475722, 0.31859551, 0.39521506, 0.84941176],
       [0.41955941, 0.72467148, 0.7691657 , 0.44089682],
       [0.91767373, 0.29961864, 0.85136475, 0.87125948],
       [0.53907525, 0.28010787, 0.12319936, 0.92986267],
       [0.68329647, 0.4345284 , 0.26499943, 0.98983411],
       [0.12196413, 0.35961224, 0.50148213, 0.50621966],
       [0.05737998, 0.54342041, 0.78104506, 0.2343449 ],
       [0.44627628, 0.42961406, 0.96080752, 0.39237291],
       [0.71436735, 0.00412101, 0.2455622 , 0.68235388],
       [0.04979528, 0.29894924, 0.16858876, 0.40248508],
       [0.76740347, 0.54856841, 0.52117537, 0.06241568],
       [0.39330276, 0.27621353, 0.81087815, 0.2418242 ],
       [0.61840919, 0.68891313, 0.4235821 , 0.26188303],
       [0.28583565, 0.71483938, 0.48219544, 0.13324844],
       [0.94732917, 0.32797329, 0.59391284, 0.94267132],
       [0.99841074, 0.4322735 , 0.51882711, 0.57125303],
       [0.74702378, 0.19179501, 0.98899425, 0.23905743],
       [0.47211884, 0.41097122, 0.95196645, 0.26023899],
       [0.03686112, 0.15006922, 0.11399001, 0.01433571],
       [0.82962545, 0.7272788 , 0.46502191, 0.6250967 ]])

In [37]:
np.random.randint(4,50)

33

In [40]:
np.random.randn(4,5)

array([[-2.49346061,  0.74645402, -0.8043774 , -0.95497699,  0.44946751],
       [-1.64490628,  0.78979102,  0.185508  , -0.02075832, -1.43636786],
       [-0.7641751 ,  0.33848524,  0.30640234,  0.69996033, -1.77108145],
       [ 1.19287953,  0.84322198,  0.86666224, -0.90065937,  0.86013729]])

In [41]:
pd.DataFrame(np.random.randn(4,5))

          0         1         2         3         4
0 -0.059566 -0.209640  1.887490  1.265594 -1.321276
1 -1.548777 -0.094244  0.709926  0.024963  0.700582
2  0.612397  0.761704 -0.746082  0.449984  1.181974
3 -0.018535  1.954265  0.802202 -1.009130 -0.416068

In [42]:
#change the dimension of the data so that it can be dataFramed

In [6]:
a=np.fromfunction(lambda i,j,z:i*j*z,(4,3,2),dtype=int)  #3-D Array

In [7]:
a

array([[[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 1],
        [0, 2]],

       [[0, 0],
        [0, 2],
        [0, 4]],

       [[0, 0],
        [0, 3],
        [0, 6]]])

In [8]:
a.reshape(6,4)

array([[0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 1, 0, 2],
       [0, 0, 0, 2],
       [0, 4, 0, 0],
       [0, 3, 0, 6]])

In [10]:
pd.DataFrame(a.reshape(6,4))

   0  1  2  3
0  0  0  0  0
1  0  0  0  0
2  0  1  0  2
3  0  0  0  2
4  0  4  0  0
5  0  3  0  6

In [11]:
a.reshape(4,3,2,1)

array([[[[0],
         [0]],

        [[0],
         [0]],

        [[0],
         [0]]],


       [[[0],
         [0]],

        [[0],
         [1]],

        [[0],
         [2]]],


       [[[0],
         [0]],

        [[0],
         [2]],

        [[0],
         [4]]],


       [[[0],
         [0]],

        [[0],
         [3]],

        [[0],
         [6]]]])

In [15]:
list(range(4,10,2))

[4, 6, 8]

In [18]:
np.arange(4,10,.2)

array([4. , 4.2, 4.4, 4.6, 4.8, 5. , 5.2, 5.4, 5.6, 5.8, 6. , 6.2, 6.4,
       6.6, 6.8, 7. , 7.2, 7.4, 7.6, 7.8, 8. , 8.2, 8.4, 8.6, 8.8, 9. ,
       9.2, 9.4, 9.6, 9.8])

In [19]:
np.arange(4,10,2)

array([4, 6, 8])

In [20]:
np.arange(4,10.5,0.2)

array([ 4. ,  4.2,  4.4,  4.6,  4.8,  5. ,  5.2,  5.4,  5.6,  5.8,  6. ,
        6.2,  6.4,  6.6,  6.8,  7. ,  7.2,  7.4,  7.6,  7.8,  8. ,  8.2,
        8.4,  8.6,  8.8,  9. ,  9.2,  9.4,  9.6,  9.8, 10. , 10.2, 10.4])

In [50]:
arr=np.random.rand(4,5)

In [51]:
arr

array([[0.54450234, 0.13920541, 0.17999627, 0.2402561 , 0.93178309],
       [0.52616392, 0.20831465, 0.27027918, 0.65114167, 0.56673773],
       [0.28727316, 0.94318123, 0.70155835, 0.10906587, 0.92113395],
       [0.67594208, 0.22841378, 0.85774777, 0.84142323, 0.699007  ]])

In [52]:
arr>.5

array([[ True, False, False, False,  True],
       [ True, False, False,  True,  True],
       [False,  True,  True, False,  True],
       [ True, False,  True,  True,  True]])

In [53]:
arr[::-1]

array([[0.67594208, 0.22841378, 0.85774777, 0.84142323, 0.699007  ],
       [0.28727316, 0.94318123, 0.70155835, 0.10906587, 0.92113395],
       [0.52616392, 0.20831465, 0.27027918, 0.65114167, 0.56673773],
       [0.54450234, 0.13920541, 0.17999627, 0.2402561 , 0.93178309]])

In [54]:
arr

array([[0.54450234, 0.13920541, 0.17999627, 0.2402561 , 0.93178309],
       [0.52616392, 0.20831465, 0.27027918, 0.65114167, 0.56673773],
       [0.28727316, 0.94318123, 0.70155835, 0.10906587, 0.92113395],
       [0.67594208, 0.22841378, 0.85774777, 0.84142323, 0.699007  ]])

In [37]:
arr[1][2]

0.3786831663162429

In [55]:
arr[0:2,0:3]

array([[0.54450234, 0.13920541, 0.17999627],
       [0.52616392, 0.20831465, 0.27027918]])

In [56]:
arr

array([[0.54450234, 0.13920541, 0.17999627, 0.2402561 , 0.93178309],
       [0.52616392, 0.20831465, 0.27027918, 0.65114167, 0.56673773],
       [0.28727316, 0.94318123, 0.70155835, 0.10906587, 0.92113395],
       [0.67594208, 0.22841378, 0.85774777, 0.84142323, 0.699007  ]])

In [61]:
arr[0:4,[0,1,2]]

array([[0.54450234, 0.13920541, 0.17999627],
       [0.52616392, 0.20831465, 0.27027918],
       [0.28727316, 0.94318123, 0.70155835],
       [0.67594208, 0.22841378, 0.85774777]])

In [38]:
arr[2][2]

0.6473413746664299

In [39]:
arr[[1,2],[2]]

array([0.37868317, 0.64734137])

In [40]:
arr=np.random.rand(8,5)

In [41]:
arr

array([[0.91601218, 0.65863012, 0.6256421 , 0.17907964, 0.84822175],
       [0.3709473 , 0.74572342, 0.8329357 , 0.35921583, 0.81315013],
       [0.42927763, 0.61764606, 0.87210155, 0.16818239, 0.25185018],
       [0.08359731, 0.87630063, 0.62212805, 0.34018064, 0.09829206],
       [0.57778027, 0.61080419, 0.76512055, 0.60934543, 0.93545725],
       [0.37569688, 0.20185127, 0.95372137, 0.97336399, 0.12174288],
       [0.71560711, 0.8278764 , 0.73363847, 0.39745367, 0.59899038],
       [0.47741836, 0.94286587, 0.21683432, 0.00955723, 0.60319143]])

In [48]:
arr

array([0.35921583, 0.00955723])

In [49]:
arr[1:8 , 0:3]

array([[0.3709473 , 0.74572342, 0.8329357 ],
       [0.42927763, 0.61764606, 0.87210155],
       [0.08359731, 0.87630063, 0.62212805],
       [0.57778027, 0.61080419, 0.76512055],
       [0.37569688, 0.20185127, 0.95372137],
       [0.71560711, 0.8278764 , 0.73363847],
       [0.47741836, 0.94286587, 0.21683432]])